{{>header}}

<title>interio | gallary </title>

{{>navbar}}
<div class="container-fluid mt-2">
    <h5 class="text-center">Gallary</h5>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p1.jpeg"><img src="/images/p1.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p2.jpeg"><img src="/images/p2.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p3.jpeg"><img src="/images/p3.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p4.jpeg"><img src="/images/p4.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p5.jpeg"><img src="/images/p5.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p6.jpeg"><img src="/images/p6.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p7.jpeg"><img src="/images/p7.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p8.jpeg"><img src="/images/p8.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p9.jpeg"><img src="/images/p9.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p10.jpeg"><img src="/images/p10.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p11.jpeg"><img src="/images/p11.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p12.jpeg"><img src="/images/p12.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p13.jpeg"><img src="/images/p13.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p14.jpeg"><img src="/images/p14.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p1.jpeg"><img src="/images/p1.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p16.jpeg"><img src="/images/p16.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p18.jpeg"><img src="/images/p18.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p19.jpeg"><img src="/images/p19.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p17.jpeg"><img src="/images/p17.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/images/p20.jpeg"><img src="/images/p20.jpeg" height="250px" class=" w-100 rounded" alt=""></a>
        </div>
    </div>
</div>

{{>footer}}